<h1><%= t('.completed', title: @test_passage.test.title) %></h1>
<br />

<%= content_tag :div, "#{@test_passage.count_persentage} %",
                     data: { percentage: @test_passage.count_persentage },
                     class: "myBar mb-3" %>

<% if @test_passage.success? %>
  <% tag = "correct" %>
  <%= content_tag :h3, t('.good'), class: tag %>
<% else %>
  <% tag = "not_correct" %>
  <%= content_tag :h3, t('.bad'), class: tag %>
<% end %>

<%= content_tag :p, t('.count', answers: @test_passage.success_percentage), class: tag %>

<br />
<p><%= link_to t('back'), tests_path %></p>
<br />
