<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<hr />
<%= content_tag :div, "#{@test_passage.count_persentage} %",
                     data: { percentage: @test_passage.count_persentage },
                     class: "myBar mb-4" %>

<% if @test_passage %>
  <%= content_tag :p, "", data: { time: @test_passage.test.time }, class: "timer awesome_timer mb-4" %>
<% end %>

<h4 class="mt-2 mb-3">
  <%= t('.process', current: @test_passage.count_number_of_questions,
                     all: @test_passage.test.questions.count,
                     question: @test_passage.current_question.body ) %>
</h4>

<%= form_with url: test_passage_path(@test_passage), method: :put do |f| %>
  <%= f.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <div class="mt-4"><%= f.submit t('next'), class: "btn btn-success" %>
     <%= link_to 'Post Gist', gist_test_passage_path(@test_passage), method: :post, class: "btn btn-outline-info btn-sm" %>
  </div>
<% end %>
<br />
