<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<br />

<%= content_tag :div, "#{@test_passage.count_persentage} %",
                     data: { percentage: @test_passage.count_persentage },
                     class: "myBar mb-3" %>

<span>
  <%= t('.process', current: @test_passage.count_number_of_questions,
                     all: @test_passage.test.questions.count,
                     question: @test_passage.current_question.body ) %>
</span>

<%= form_with url: test_passage_path(@test_passage), method: :put do |f| %>
  <%= f.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= link_to 'Post_Gist', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= f.submit t('next') %></p>
<% end %>
<br />
