<h1><%= t('.for_question', body: @answer.question.body) %></h1>
<hr />

<p><%= t('.answer', body: @answer.body) %></p>
<p><%= t('.status', correct: correct_answer(@answer.correct)) %></p>

<p>
  <%= link_to t('back'), admin_question_path(@answer.question) %> |
  <%= link_to t('edit'), edit_admin_answer_path(@answer) %>
</p>
<br />
