<h1><%= t('.test')%>: "<%= @test.title %>"</h1>
<hr />
<div class='heading'><%= t(".question_list") %>:</div>
<ol>
  <%= render @test.questions %>
</ol>
<p><%= link_to t('back'), admin_tests_path(@test) %> |
<%= link_to t('create_question'), new_admin_test_question_path(@test)  %></p>
<br />
