<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8555a1;">
  <div class="container-fluid">
    <b><%= link_to "TESTGURU", tests_path, class: "navbar-brand" %></b>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item">
              <%= link_to 'Управление тестами', admin_tests_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Награды', badges_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Обратная связь', new_feedback_path, class: "nav-link" %>
          </li>
        <% end %>

      </ul>

      <span class="navbar-text">
        <% if user_signed_in? %>
          <%= content_tag :span, "Welcome, #{current_user.email} Guru!" %> |
          <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Регистрация", new_user_registration_path, class: "text-decoration-none" %> |
          <%= link_to "Аутентификация", new_user_session_path, class: "text-decoration-none" %>
        <% end %>
      </span>
    </div>
</nav>
