<h1><%= link_to "TESTGURU", tests_path %></h1>
<% if user_signed_in? %>
  <%= content_tag :span, "Welcome, #{current_user.email} Guru!", class: "welcome auth" %> |
  <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Регистрация", new_user_registration_path %> |
  <%= link_to "Аутентификация", new_user_session_path %> |
<% end %>
<br /><br />
